gunicorn
pyarrow
django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
requests
openai 
langchain
langchain-openai
langchain_pinecone
pinecone-client
pinecone-datasets
pypdf
python-dotenv
tiktoken
psycopg2

# Neo4j dependencies for GraphRAG
neo4j

#If search
#duckduckgo-search
#black==22.3.0